
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(6,5,1,1) 100%);
  cursor: url('Chicken\ Normal\ Select.cur'), auto;
  height: 100vh;
}
.chicken-game-logo {
  object-fit: cover;
  width: 250px;
  height: 180px;
  margin-left: 30px;
  margin-top: 30px;
  background-color:red
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-buttons {
  margin-right: 30px;
  margin-top: 30px;
}
.signUpBtn {
  width: 150px;
  height: 40px;
  background-color: rgba(68, 30, 255, 0.5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bold;
  border-radius: 10px;
}
.signInBtn {
  width: 150px;
  height: 40px;
  background-color: rgba(18, 110, 355, 0.5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bold;
  border-radius: 10px;
}
.logOutBtn {
  width: 150px;
  height: 40px;
  background-color: rgba(230, 30, 255, 0.5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bold;
  border-radius: 10px;
}

.SignUpForm {
  margin-top: 100px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}   
.buttonCreateAcc {
  margin-top: 30px;
}
.containerSignUp {
  margin-right: 30%;
  margin-left: 30%;
  height: 300px;
  justify-content: center;
  display: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(18, 110, 355, 0.5);
  cursor: url('Chicken\ Normal\ Select.cur'), auto;
}
.buttonCreateAcc {
  width: 150px;
  height: 40px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
}
.containerSignIn{

  background-color: rgba(68, 30, 255, 0.5);
  margin-right: 30%;
  margin-left: 30%;
  height: 300px;
  justify-content: center;
  display: none;
  border-radius: 10px;
  cursor: pointer;
  cursor: url('Chicken\ Normal\ Select.cur'), auto;
}

.SignInForm{
    margin-top: 100px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
.buttonLogIn{
    width: 150px;
  height: 40px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
}
.menu-container{
  background-image: url("14de3e7b6765d630ce56318c73302900.gif");
  margin-right: 30%;
  margin-left: 30%;
  height: 700px;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  flex-direction: column;
  cursor: url('Chicken\ Normal\ Select.cur'), auto;
}
.button-start-game{
  width: 250px;
  height: 80px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
  font-size: 22px;
  margin-left:12vw;
  top:25vh;
  position: absolute;
}
.game-container{
  
  height:80vh;
  width:70vw;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("back3.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  cursor: url(Lawgiver.cur), auto;
  
}
.game{
justify-content: center;
display: none;
margin-left: 5%;

}
.in-game-option{
  display: none;
  flex-direction: column;
}
.Back-to-menu-button{
  width: 250px;
  height: 80px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
  font-size: 22px;
}
.start-new-game{
  width: 250px;
  height: 80px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
  font-size: 22px;
}
.Resume-game-button{
  width: 250px;
  height: 80px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
  font-size: 22px;
}
.open-menu-button{
  width: 100px;
  height: 60px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  font-size: 22px;
  margin-right: 60vw;
  margin-top: 81vh;
  text-align: center;
}
.chicken-style{
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  top: -20px;
  cursor: url(Lawgiver.cur), auto;
}
.heart{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 81vh;
  left: 42vw;
}
.heart2{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 81vh;
  left:45vw;
  
}
.heart3{
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 81vh;
  left:48vw;
}
.yourHealthInfo{
  position: absolute;
  margin-top: 82vh;
  left: 30vw;
  font-weight: bolder;
  color: white;
}
.Pause-game{
  position: absolute;
  width: 150px;
  height: 60px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-left:50vw;
  margin-top: 81vh;
  text-align: center;
  font-size: 30px;
}
.SeeHighscores{
  width: 250px;
  height: 80px;
  background: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bolder;
  margin-top: 40px;
  font-size: 22px;
  margin-left:12vw;
  top:40vh;
  position: absolute;
}

